#map {
  height: 1000px;
  z-index: 1;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  z-index: 100;
  background-color: red;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: 50px;
  background-color: white;
  padding-left: 0;
  padding: 10px;
  border-radius: 40px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.izlyButton {
  background-color: #2ac1e9;
  padding: 9px;
  border-radius: 40px;
}

.filtre {
  position: fixed;
  background-color: white;
  height: 600px;
  width: 300px;
  z-index: 10;
  transform: translateY(-50%);
  top: 50%;
}

.filtreCartes {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  padding-top: 50px;
}

.filtreCartes a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: Black;
}

.CarteTest {
  width: 90%;
  background-color: yellow;
  height: 30%;
  display: flex;
  align-items: center;
}

.CarteTest h2 {
  font-size: 1em;
  margin: 0;
}

.petiteInfo {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.petiteInfo p {
  margin: 0;
}

.carteImg {
  width: 90px;
  height: 90px;
  background-color: orange;
}
