body {
  background-color: #00273b;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 20px;
}
h2 {
  color: #b4c5e4;
}
h3 {
  font-weight: 200;
}
form {
  display: flex;
}
select {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

option {
  background-color: #313c4a;
  color: white;
  font-family: "Inter", sans-serif;
}

.select-commande {
  width: 50%;
}

.options-commande {
  width: 50%;
}

.ou_quand {
  background-color: #313c4a;
  margin-bottom: 20px;
  border-left: 10px solid #b4c5e4;
}

#ma-commande {
  background-color: #313c4a;
  margin-bottom: 20px;
  border-left: 10px solid #b4c5e4;
}
